*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	width: 100%;
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
ul li{list-style: none;}
img{vertical-align: top;
}
/*---------------------------------------------*/


html{
	padding: 0;
	margin: 0;
	color: lightgray;
	background: url(images/background.jpg);
	background-size: 100%;
}

body{
	font-family: Times New Roman;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	padding: 10 px 0;
	background: dimgrey;
	border-bottom: 1px solid rgba(255, 255, 255, 1);
}

#insideHeader{
	width: 1001px;
	margin: 0 auto;
}

#logo{
	width: 50px;
	height: 50px;
	float: left;
	background: url(images/logo.svg) no-repeat;
	background-size: contain;
}

#nameServer{
	color: rgb(225,215,40);
	float: left;
	margin-left: 15px;
	line-height: 50px;
	font-size: 22px;
}

#nameServer:first-letter{
	Color: darkred;
	font-size: 28px;
}

#hrefHeader{
	display: flex;
	height: 50px;
}

#hrefHeader a{
	min-width: 110px;
	flex: 1;
	text-align: center;
	display: block;
	line-height: 50px;
	font-size: 22px;
	text-decoration: none;
	border-right: 1px solid rgba(255, 255, 255, 1);
	border-bottom: 1px solid rgba(255, 255, 255, 1);
}

#hrefHeader a:hover{
	color: gold;
	background: rgb(60, 60, 60);
}

#hrefHeader a:active{
	color: gold;
	background: rgb(40, 40, 40);
}

#hrefHeader a:first-child{
	padding-left: 5px;
	min-width: 200px;
	max-width: 200px;
	border-left: 1px solid rgba(255, 255, 255, 1);
}

#hrefHeader a:last-child{
	min-width: 220px;
	border-left: none;
}

#modPacks{
	width: 1001px;
	margin: 0 auto;
	margin-bottom: 50px;
	min-height: 600px;
}

#backgroundWelcome{
	border-radius: 40px;
	background: url(images/backWelcome.jpg) no-repeat;
	background-size: cover;
	width: 1001px;
	margin: 20px auto;
	min-height: 600px;
}

#textWelcome{
	width: 200px;
	margin: 0 auto;
	padding-top: 20px;
	font-size: 40px;
}

footer{
	width: 100%;
	height: 50px;
	padding: 10 px 0;
	background: dimgrey;
	border-top: 1px solid rgba(255, 255, 255, 1);
}


#insideFooter{
	width: 1001px;
	margin: 0 auto;
}

#messagers{
	height: 50px;
	display: flex;
	float: right;
	border-left: 1px solid rgba(255, 255, 255, 1.0);
	border-right: 1px solid rgba(255, 255, 255, 1.0);
}

#messagers div{
	width: 44px;
	margin-left: 8px;
}

#messagers div:last-child{
	margin-right: 8px;
}

.messager{
	width: 44px;
    height: 44px;
    float: left;
}

#vk{
	background: url(images/vk.svg) no-repeat;
	background-size: contain;
}

#telegram{
	background: url(images/telegram.svg) no-repeat;
	background-size: contain;
}

#instagram{
	background: url(images/instagram.svg) no-repeat;
	background-size: contain;
}


#content{
	margin-top: 80px;
	margin-bottom: 30px;
}

#center{
	margin: 0 auto;
    width: 1001px;
}

#menu{
	border-radius: 40px;
	box-shadow: 5px 5px 10px 5px black;
	background: url(images/wall2.jpg);
	min-height: 1200px;
	margin: 0 auto;
    width: 1001px;
}